label {
    width:180px;
    clear:left;
    padding-right: 20px;
}

input{
    margin-bottom: 10px;
    display: inline-block;
}

.hiring{
    margin-top: 20px;
}

.drive-dates{
    display: flex;
    justify-content: space-between;
}

.remove{
    height: 25px;
}
.dates{
    height: 25px;
}

.admin{
    margin-top: 25px;
    margin-left: -5px;
}