.hiring{
    margin-top: 20px;
}

.drive-dates{
    display: flex;
    /* justify-content: space-between; */
}

.remove{
    height: 25px;
}


.admin{
    margin-top: 20px;  
}

.hiring-admins{
    margin-bottom: 10px;
    margin-top: -30px;
}


.space-button{
    margin-bottom: 15px;
}

.drive-form{
    width: 60%;
    margin-left: 27%;
}

.entity-select{
    width: 100%;
}

.description-data{
    margin-top: 20px;
}

.dates-data{
    width: 30%
}

