/* label {
    width:180px;
    clear:left;
    padding-right: 20px;
} */
/* 
input{
    margin-bottom: 10px;
    display: inline-block;
} */

.hiring{
    margin-top: 20px;
}

.drive-dates{
    display: flex;
    /* justify-content: space-between; */
}

.remove{
    height: 25px;
}
.dates{
    height: 25px;
}

.admin{
    margin-top: 20px;  
}

.hiring-admins{
    margin-bottom: 20px;
    margin-top: -20px;
}

.space{
    margin-left: 10px;
}

.space-button{
    margin-bottom: 10px;
}

/* .input{
    height: 20px;
} */

.drive-form{
    width: 60%;
    margin-left: 27%;
}