<app-header></app-header>
<app-side-bar></app-side-bar>

<div class="container-fluid drive-switch">
  <ol class="breadcrumb bread">
    <li class="breadcrumb-item"><a routerLink="/drive-management">Drive Management</a></li>
    <li class="breadcrumb-item"><a routerLink="/view-panel">View Panel</a></li>
    <li class="breadcrumb-item"><a routerLink="/panel-form">Panel Form</a></li>
  </ol>
  <div class="switch-drive">
      <label for="Drive">Switch Drive:</label>
      <select id="role" class="mx-2" name="drive" #drives ngModel (change)="getSpecificDrive(drives.value)">
          <option disabled></option>
          <option placeholder="Select Drive" *ngFor="let obj of hiringDrives">{{obj.title}}</option>
      </select>
  </div>
</div>
  
<div class="container-fluid  panel-form">
  <!-- <div>
    {{specificDrive | json}}
  </div> -->
  <div class="m-5 ">
    <form #panelForm="ngForm" (ngSubmit)="onSubmitPanelData(panelForm.value)">
      <!-- (ngSubmit)="onSubmitPanelData(panelForm.value)" -->
      <div *ngFor="let item of specificDrive">
        <div class="form-group row" >
          <label class="col-sm-3 col-form-label" for="panel_round">Select Round</label>
          <div class="col-sm-9 form-inline">
            <select class="form-select form-select-lg" id="panel_round" name="panel_round" ngModel>
              <option disabled>Choose From Dropdown</option>
              <option *ngFor="let drive of item.round;let i=index">{{drive['round'+i].roundName}}</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-3 col-form-label" for="panel_title">Panel Title</label>
          <div class="col-sm-9">
            <input class="form-control" type="text" id="panel_title" placeholder="Enter Panel Name" name="panel_title" ngModel>
          </div>
        </div>

        <div class="form-group row description-data">
          <label class="col-sm-3 col-form-label" for="writeDescription">Description:</label>
          <div class="col-sm-9">
            <textarea class="form-control" id="description" name="description" rows="3" ngModel></textarea>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-3 col-form-label" for="selectCandidate">Select Candidate:</label>
          <div class="col-sm-3">
            <app-show-candidate [specificCandidateData]="specificCandidateData" (candidateData)="candidateDetails($event)" ngModel></app-show-candidate>
          </div>
        </div>
        
        <div class="form-group row description-data">
          <label class="col-sm-3 col-form-label" for="selectPanelist">Select Panelist:</label>
          <div class="col-sm-3">
            <!-- <input class="form-control" type="text" id="panelist_name" name="panelist_name" ngModel> -->
            <app-show-panelist [panelistData]="specificDrivePanelist" (panelistRecord)="panelistDetails($event)" ngModel></app-show-panelist>
          </div>
        </div>

        <div class="form-group row description-data">
          <label class="col-sm-3 col-form-label" for="selectCoordinator">Select Coordinator:</label>
          <div class="col-sm-3">
            <!-- <input class="form-control" type="text" id="coordinator_name" name="coordinator_name" ngModel> -->
            <app-show-coordinators [coordinatorData]="specificDrivePanelist" (coordiatorData)="coordinatorDetails($event)"  ngModel></app-show-coordinators>
          </div>
        </div>
        <div class="container-fluid ">
          <div class="success-button">
            <button class="btn btn-outline-success border-success">Submit</button> 
          </div>
        </div>
      </div>
      
    </form>
  </div>
</div>

