
 
<div class="container d-inline-flex p-2">
  <div class="row mt-4 mb-2 text-center">
    <div class="col">
      <button type="button" (click)="openFormModal()" class="btn btn-danger" >
        Add Panel
      </button>
    </div>
  </div>
</div>
 

<div
  class="modal dark"
  id="myModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create Panel</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <h5>Select Interview Round</h5>
        <h5>Panel Title</h5>
        Panel Description<input type="text">
        <h5>Select Candidate</h5>
        <h5>Select Panelist</h5>
        <h5>Select Coordinator</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-success" (click)="saveSomeThing()">
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
