.wg-logo{
    height: auto;
    width: 50%;
    margin: 20px;
}

/* .jumbotron {
background-color: #e81410;
color: #ffffff;
}  */


#side_nav{
    background: #e81410;
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
}

.content{
width: 100%;
min-height: 100vh;
}

hr.h-color{
    background-color: #e81410;
}

.sidebar li.active{
    background-color: #e81410;
    border-radius: 8px;
}

