
<div class="container">
    <div class="row mt-4 mb-2 text-center d-inline-flex p-2">
      <div class="col">
        <button type="button" (click)="openAdminFormModal()" class="btn btn-outline-danger border-danger" >
          Select Admin
        </button>
        <!-- {{EntityData | json}} -->
      </div>
    </div>
  </div>
   
  
  <div
    class="modal dark"
    id="adminModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Select Admin</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
            <form  [formGroup]="form" (ngSubmit)="getAdminData()">
                <li class="form-check" *ngFor="let panelist of panelistData" class="list">
                  <input class="form-check-input" type="Checkbox" [value]="panelist.panelist_first_name" name="admin" (change)="onCheckboxChange($event)"  formControlName="{{panelist.panelist_first_name}}">{{panelist.panelist_first_name}}
                </li>
                <button class="btn btn-success" type="submit">Save</button>
            </form>
            
        </div>
        
      </div>
    </div>
</div>

<div >
  <ul *ngFor="let item of result" class="list">
    <li><input class="form-check-input" type="Checkbox" name="admin_data" checked>{{item}}</li>
  </ul>
</div>