<app-header></app-header>
<app-side-bar></app-side-bar>
<div class="container-fluid panelist-info">
    <ol class="breadcrumb bread">
        <li class="breadcrumb-item"><a routerLink="/drive-management">Drive Management</a></li>
        <li class="breadcrumb-item"><a routerLink="/manage-panelist">Manage Panelist</a></li>
    </ol>
    <div class="switch-drive">
        <label for="Drive">Switch Drive:</label>
        <select class="mx-2" id="role" name="drive" #drives ngModel (change)="getSpecificDrive(drives.value)">
            <!-- {{drives | json}} -->
            <!-- <option disabled></option> -->
            <option *ngFor="let obj of hiringDrives">{{obj.title}}</option>
        </select>
    </div>

    <div class="container">
        <h3 class="text-center">{{driveTitle}}</h3>
    </div>

    <div>
        <div class="d-inlineflex p2 specific-drive-panelist">
            <app-show-drive-panelist [driveTitle]="driveTitle" *ngIf="selectPanelist"></app-show-drive-panelist>
        </div>
    </div>

    <div class="container-fluid my-5">
        <!-- {{specificDriveData | json}} -->
        <div>
            <table class="table table-bordered table-striped table-hover display">
                <thead>
                <tr>
                    <th>Panelist Name</th>
                    <th>Panelist Email</th>
                    <th>Panelist Phone Number</th>
                    <th>Round Date</th>
                    <th>Availability</th>
                </tr>
                </thead>
                <tbody *ngFor="let drive of panelistData">
                <tr *ngFor="let item of drive.specificDrivePanelist">
                    <td>
                        <tr>{{item['panelist'].panelistName}}</tr>
                    </td>
                    <td>
                        <tr>{{item['panelist'].panelistEmail}}</tr>
                    </td>
                    <td>
                        <tr>{{item['panelist'].panelistPhone}}</tr>
                    </td>
                    <td *ngFor="let data of specificDriveData">
                        <tr class="round_data" *ngFor="let val of data.round;let i=index">
                            <div class="m-2">
                                {{ val["round"+i].roundDate | json}}
                            </div>
                        </tr> 
                    </td>
                    <td class="availability">
                        <tr *ngFor="let val of specificDriveData[0].round">
                            <select class=" form-select form-select-lg" name="panelist_avilability" id="panelist_avilability">
                                <option class="text-center" selected>Yes</option>
                                <option class="text-center" >No</option>
                            </select>
                        </tr>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

