label {
    width:180px;
    clear:left;
    /* text-align:center; */
    padding-right: 20px;
}

input{
    margin-bottom: 10px;
}

.panelist-div{
    width: 80%;
    margin-left: 230px;
}