<app-header></app-header>
<app-side-bar></app-side-bar>
<div class="container-fluid panelist-div">
  <div class="container-fluid bread">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/home">Dashboard</a></li>
      <li class="breadcrumb-item"><a routerLink="/panelist-form">Panelist</a></li>
    </ol>
  </div>
  <div class="container-fluid ">
    <div class="container-fluid">
      <div class="container-fluid d-inline-flex row p-2">
        <div class="col-sm-6 panelist-button">
            <button type="button" (click)="openPanelistFormModal()" class="btn btn-danger">
              <span class="glyphicon glyphicon-plus-sign"></span> Add Panelist
            </button>
        </div>
        <div class="col-sm-6  heading">
          <h2>Panelist Data</h2>
        </div>
      </div>
       
      
      <div
        class="modal dark"
        id="panelistModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Create Panelist</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
    
            <div class="modal-body">
              <form #panelistForm="ngForm" (ngSubmit)="postPanelistData(panelistForm.value)">
                  <div>
                    <div class="form-group row">
                      <div class="col-sm-3 col-form-label">
                        <label for="fname" > Name:</label>
                      </div>
                      <div class="col-sm-9">
                        <input class="form-control" type="text" id="Name" name="Name" placeholder="Enter Name" [(ngModel)]="newPanelist.name" pattern="[a-zA-Z\s]+" #Name="ngModel" required> <br>
                        <span *ngIf="Name.invalid && Name.touched" class="validation-span">Please Enter Valid Name(contains a-z or A-Z)</span>
                      </div>
                    </div>
                    
                    <!-- <div class="form-group row">
                      <div class="col-sm-3 col-form-label">
                        <label for="lname" >Last Name:</label>
                      </div>
                      <div class="col-sm-9">
                        <input class="form-control" type="text" id="lastName" name="lastName" placeholder="Enter Last Name" [(ngModel)]="newPanelist.lastName"><br>
                      </div>
                    </div> -->
    
                    <div class="form-group row">
                      <div class="col-sm-3 col-form-label">
                        <label for="email" ><b>Email:</b></label>
                      </div>
                      <div class="col-sm-9">
                        <input class="form-control" type="email" placeholder="Enter Email" email name="email" id="email" required [(ngModel)]="newPanelist.email" #email="ngModel"><br>
                        <span *ngIf="email.invalid && email.touched" class="validation-span">Please Enter Valid Email</span>
                      </div>
                    </div>
                
                    <div class="form-group row">
                      <div class="col-sm-3 col-form-label">
                        <label for="phone" >Phone Number:</label>
                      </div>
                      <div class="col-sm-9">
                        <input class="form-control" type="tel" id="phone" placeholder="Enter Phone Number" name="phone" [(ngModel)]="this.newPanelist.phone_number" required #phone="ngModel" pattern="[1-9]{1}[0-9]{9}"><br>
                        <span *ngIf="phone.invalid && phone.touched" class="validation-span">Please Enter Valid 10 digit Number</span>
                      </div>
                    </div>
  
                    <div class="form-group row">
                      <div class="col-sm-3 col-form-label">
                        <label for="role" >Choose Role: </label>
                      </div>
                      <div class="col-sm-9">
                        <select class="form-control" id="role" name="role" [(ngModel)]="this.newPanelist['custom:role']">
                          <option selected>Choose From dropdown</option>
                          <option value="admin">{{settingsFile.admin}}</option>
                          <option value="panelist">{{settingsFile.panelist}}</option>
                          <option value="Viewer">{{settingsFile.viewer}}</option>
                          </select>
                      </div>
                    </div>
                      <!-- <div class="col-sm-2" *ngFor="let item of userRoles">
                        <div class="form-check" >
                          <input class="form-check-input" type="checkbox" name="role" (change)="onChange()" id="flexCheckDefault" [(ngModel)]="item.done">
                          <label class="form-check-label" for="flexCheckDefault">
                            {{item.roleName}}
                          </label>
                        </div>
                      </div> -->
                      <!-- <div class="col-sm-2">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                          <label class="form-check-label" for="flexCheckDefault">
                            Admin
                          </label>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                          <label class="form-check-label" for="flexCheckDefault">
                            Viewer
                          </label>
                        </div>
                      </div> -->
                    
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Close
                      </button>
                      <button type="submit" class="btn btn-success action-link-refresh" [disabled]="panelistForm.invalid" (click)="savePanelist()" data-bs-dismiss="modal">
                        Save changes
                      </button>
                    </div>
                  </div>
                </form>
            </div>
            
          </div>
        </div>
      </div>
    
    </div>
    <div>
      <table class="table table-bordered table-striped table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
        <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Contact</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let panelist of finalPanelistData">
          <td>{{panelist.name}}</td>
          <td>{{panelist.email}}</td>
          <td>{{panelist.phone_number}}</td>
          <td class="text-center">
            <span class="text-danger">
              <!-- (click)="openEditPanelistFormModal(); replicateData(panelist)" -->
            <svg type="button"
              (click)="openEditPanelistFormModal();replicateData(panelist)"
              xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
            </svg>
          </span>
        </td>  
        </tr>
        </tbody>
      </table>
    </div>
        
    <div>
      <div
        class="modal dark"
        id="editPanelistModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Edit Panelist</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
    
            <div class="modal-body">
                <form #editPanelistForm="ngForm" (ngSubmit)="editPanelist(editPanelistForm.value)">
                  <div>
                    <div class="form-group row">
                      <div class="col-sm-3 col-form-label">
                        <label for="fname" >Name:</label>
                      </div>
                      <div class="col-sm-9">
                        <input class="form-control" type="text" id="fname" name="name" placeholder="Enter Name" ngModel>
                      </div>
                    </div>
                    
                    <!-- <div class="form-group row">
                      <div class="col-sm-3 col-form-label">
                        <label for="lname" >Last Name:</label>
                      </div>
                      <div class="col-sm-9">
                        <input class="form-control" type="text" id="lname" name="panelist_last_name" placeholder="Enter Last Name" value="{{PanelistLastName}}" [(ngModel)]="this.newPanelist.lastName"><br>
                      </div>
                    </div> -->
    
                    <div class="form-group row">
                      <div class="col-sm-3 col-form-label">
                        <label for="email" ><b>Email:</b></label>
                      </div>
                      <div class="col-sm-9">
                        <input class="input-disabled form-control" type="email" placeholder="Enter Email"  name="email" id="email" [(ngModel)]="PanelistEmail"><br>
                      </div>
                    </div>
                
                    <div class="form-group row">
                      <div class="col-sm-3 col-form-label">
                        <label for="phone" >Phone Number:</label>
                      </div>
                      <div class="col-sm-9">
                        <input class="input-disabled form-control" type="tel" id="fnum" placeholder="Enter Phone Number" name="phone_number" [(ngModel)]="PanelistContact" ><br>
                      </div>
                    </div>
  
                    <div class="form-group row">
                      <div class="col-sm-3 col-form-label">
                        <label for="role" >Choose Role: </label>
                      </div>
                      <div class="col-sm-9">
                        <select class="form-select form-select-lg" id="role" name="role" ngModel>
                          <option selected>Choose From dropdown</option>
                          <option>{{settingsFile.admin}}</option>
                          <option>{{settingsFile.panelist}}</option>
                          <option>{{settingsFile.viewer}}</option>
                        </select>
                      </div>
                      <!-- <div class="col-sm-2" *ngFor="let item of userRoles">
                        <div class="form-check" [(ngModel)]="item.done">
                          <input class="form-check-input" type="checkbox" id="flexCheckDefault">
                          <label class="form-check-label" for="flexCheckDefault">
                            {{item.roleName}}
                          </label>
                        </div>
                      </div> -->
                    </div>
                    
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Close
                      </button>
                      <button type="submit" class="btn btn-success action-link-refresh"  (click)="saveEditPanelist()" data-bs-dismiss="modal">
                        Save changes
                      </button>
                    </div>
                  </div>
                    
                </form>
            </div>
            
          </div>
        </div>
      </div>
    </div>
        
  </div>  
</div>
