<app-header></app-header>
<app-side-bar></app-side-bar>
<div class="container-fluid bread">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/drive-management">Drive Management</a></li>
    <li class="breadcrumb-item"><a routerLink="/panelist-form">Panelist</a></li>
  </ol>
</div>
<div class="container-fluid panelist-div">
  <div class="container">
    <div class="container d-inline-flex p-2">
      <div class="row mt-4 mb-2 text-center">
        <div class="col">
          <button type="button" (click)="openPanelistFormModal()" class="btn btn-danger">
            <span class="glyphicon glyphicon-plus-sign"></span> Add Panelist
          </button>
        </div>
      </div>
    </div>
     
    
    <div
      class="modal dark"
      id="panelistModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Create Panelist</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
  
          <div class="modal-body">
              <form #panelistForm="ngForm" (ngSubmit)="postPanelistData(panelistForm)">
                <div>
                  <div class="form-group row">
                    <div class="col-sm-3 col-form-label">
                      <label for="fname" >First Name:</label>
                    </div>
                    <div class="col-sm-9">
                      <input class="form-control" type="text" id="firstName" name="firstName" placeholder="Enter First Name" [(ngModel)]="newPanelist.firstName">
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <div class="col-sm-3 col-form-label">
                      <label for="lname" >Last Name:</label>
                    </div>
                    <div class="col-sm-9">
                      <input class="form-control" type="text" id="lastName" name="lastName" placeholder="Enter Last Name" [(ngModel)]="newPanelist.lastName"><br>
                    </div>
                  </div>
  
                  <div class="form-group row">
                    <div class="col-sm-3 col-form-label">
                      <label for="email" ><b>Email:</b></label>
                    </div>
                    <div class="col-sm-9">
                      <input class="form-control" type="email" placeholder="Enter Email"  name="email" id="email" required [(ngModel)]="newPanelist.email"><br>
                    </div>
                  </div>
              
                  <div class="form-group row">
                    <div class="col-sm-3 col-form-label">
                      <label for="phone" >Phone Number:</label>
                    </div>
                    <div class="col-sm-9">
                      <input class="form-control" type="tel" id="phone" placeholder="Enter Phone Number" name="phone" [(ngModel)]="this.newPanelist.phone_number"><br>
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-sm-3 col-form-label">
                      <label for="role" >Choose Role:</label>
                    </div>
                    <div class="col-sm-9">
                      <select class="form-control" id="role" name="role" [(ngModel)]="this.newPanelist['custom:role']">
                        <option selected>Choose From dropdown</option>
                        <option value="admin">Admin</option>
                        <option value="panelist">Panelist</option>
                        <option value="viewer">Viewer</option>
                    </select>
                    </div>
                  </div>
                  
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                      Close
                    </button>
                    <button type="submit" class="btn btn-success action-link-refresh"  (click)="savePanelist()" data-bs-dismiss="modal">
                      Save changes
                    </button>
                  </div>
                </div>
                  
              </form>
          </div>
          
        </div>
      </div>
    </div>
  
  </div>
      <table class="table table-bordered table-striped table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
        <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Contact</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let panelist of panelistData">
          <td><span>{{panelist.panelist_first_name}}</span></td>
          <td><span>{{panelist.panelist_last_name}}</span></td>
          <td><span>{{panelist.panelist_email}}</span></td>
          <td><span>{{panelist.panelist_contact}}</span></td>  
        </tr>
        </tbody>
      </table>
      
</div>
