<app-header></app-header>
<app-side-bar></app-side-bar>
<div class="container-fluid panel-list">
    <div class="container-fluid">
        <ol class="breadcrumb bread">
          <li class="breadcrumb-item"><a routerLink="/drive-management">Drive Management</a></li>
          <li class="breadcrumb-item"><a routerLink="/view-panel">View Panel</a></li>
        </ol>

        <div class="container-fluid">
            <div class="switch-drive">
                <label for="Drive">Switch Drive:</label>
                <select id="role" class="mx-2" name="drive" #drives ngModel (change)="getSpecificDrive(drives.value)">
                    <!-- <option disabled></option> -->
                    <option placeholder="Select Drive" *ngFor="let obj of hiringDrives">{{obj.title}}</option>
                </select>
            </div>
            <div class="heading container"><h2>{{driveTitle}}</h2></div>
        </div>

        

        <div class="row" >
            <label class="col-sm-2 event-label" for="Round">Switch Event:</label>
            <div class="col-sm-2 event-name">
                <select id="round" name="round" #roundName ngModel (change)="getSpecificRound(roundName.value)">
                    <option disabled></option>
                    <option *ngFor="let item of panelData;let i=index">{{item.panel_round}}</option>
                </select>
            </div>
            <div class="col-sm-2 event-date">
                <span><strong>Date: </strong></span>
                <span>{{roundDate}}</span>
            </div>
            
            <div class="col-sm-2 event-time">
                <span><strong>Start Time: </strong></span>
                <span>{{roundTime}}</span>
            </div>
            
            <div class="col-sm-4">
                <button class="btn btn-danger my-5 panel-button" type="button" routerLink="/panel-form">Add Panel</button>
            </div>
        </div>
    </div>

    <div class="accordion" id="accordionExample">
        <div class="accordion-item" *ngFor="let item of panelData;let i=index">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" (click)="checkIndex(i)" >
              <span class="mx-4">{{item.panel_title}}</span>
              <span class="mx-2">Panelist: </span>
              <span > {{item.panelist_name}} </span>
              <span class="mx-4">Coordinator: </span>
              <span class="mx-2">{{item.coordinator_name}}</span>
            </button>
          </h2>
          <div *ngIf="display[i]" id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <!-- <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow. -->
                <table class="table table-bordered table-striped table-hover display" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                    <thead>
                    <tr>
                        <th>Start Interview</th>
                        <th>End Interview</th>
                        <th>Candidate</th>
                        <th>Email</th>
                        <th>Phone</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <tr *ngFor="let data of item.candidate_start_interview">{{ data }}</tr>
                        </td>
                        <td>
                            <tr *ngFor="let data of item.candidate_end_interview">{{ data }}</tr>
                        </td>
                        <td>
                            <tr *ngFor="let data of item.candidate_name">{{ data }}</tr>
                        </td>
                        <td >
                            <tr *ngFor="let data of item.candidate_email">{{ data }}</tr>
                        </td>
                        <td >
                            <tr *ngFor="let data of item.candidate_phone">{{ data }}</tr>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
          </div>
        </div>
      </div>

    <!-- {{panelData | json}} -->
</div>