<app-header></app-header>
<app-side-bar></app-side-bar>
<div class="container-fluid panel-list">
    <div class="container-fluid">
        <ol class="breadcrumb bread">
          <li class="breadcrumb-item"><a routerLink="/drive-management">Drive Management</a></li>
          <li class="breadcrumb-item"><a routerLink="/view-panel">View Panel</a></li>
        </ol>

        <div class="container-fluid">
            <div class="switch-drive">
                <label for="Drive">Switch Drive:</label>
                <select id="role" class="mx-2" name="drive" #drives ngModel (change)="getSpecificDrive(drives.value)">
                    <!-- <option disabled></option> -->
                    <option placeholder="Select Drive" *ngFor="let obj of hiringDrives">{{obj.title}}</option>
                </select>
            </div>
            <div class="heading container"><h2>{{driveTitle}}</h2></div>
        </div>

        

        <div class="row" >
            <label class="col-sm-2 event-label" for="Round">Switch Event:</label>
            <div class="col-sm-2 event-name">
                <select id="round" name="round" #roundName ngModel (change)="getSpecificRound(roundName.value)">
                    <option disabled></option>
                    <option *ngFor="let item of panelData;let i=index">{{item.panel_round}}</option>
                </select>
            </div>
            <div class="col-sm-2 event-date">
                <span><strong>Date: </strong></span>
                <span>{{roundDate}}</span>
            </div>
            
            <div class="col-sm-2 event-time">
                <span><strong>Start Time: </strong></span>
                <span>{{roundTime}}</span>
            </div>
            
            <div class="col-sm-4">
                <button class="btn btn-danger my-5 panel-button" type="button" routerLink="/panel-form">Add Panel</button>
            </div>
        </div>
    </div>

    <div class="accordion" id="accordionExample">
        <div class="accordion-item" *ngFor="let item of panelData;let i=index">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" (click)="checkIndex(i)" >
              <span class="mx-4">{{item.panel_title}}</span>
              <span class="mx-2">Panelist: </span>
              <span > {{item.panelist_name}} </span>
              <span class="mx-4">Coordinator: </span>
              <span class="mx-2">{{item.coordinator_name}}</span>
            </button>
          </h2>
          <div *ngIf="display[i]" id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <!-- <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow. -->
                <table class="table table-bordered table-striped table-hover display" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                    <thead>
                    <tr>
                        <th>Start Interview</th>
                        <th>End Interview</th>
                        <th>Candidate</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Feedback</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let data of item.candidate_name;let j=index">
                        <td>
                            <tr>{{ item.candidate_start_interview[j] }}</tr>
                        </td>
                        <td>
                            <tr>{{ item.candidate_end_interview[j] }}</tr>
                        </td>
                        <td>
                            <tr>{{ item.candidate_name[j] }}</tr>
                        </td>
                        <td>
                            <tr>{{ item.candidate_email[j] }}</tr>
                        </td>
                        <td>
                            <tr>{{ item.candidate_phone[j] }}</tr>
                        </td>
                        <td class="feedback">
                            <tr>
                                <span>{{roundTitle}}</span>
                                <span> | </span>
                                <span *ngIf="checkSelected(j)" class="text-success">
                                    <strong>{{selectStatus}}</strong>
                                </span>
                                <span>  </span>
                                <span class="text-danger">
                                    <i class="fa-solid fa-plus" type="button" (click)="openFeedbackForm(i,j)"></i>
                                </span>
                                <span> | </span>
                                <span class="text-primary">
                                    <i class="fa-solid fa-eye" type="button" (click)="viewFeedback(i,j)"></i>
                                </span>
                            </tr>
                        </td>
                    
                        <!-- <td>
                            <tr *ngFor="let data of item.candidate_end_interview">{{ data }}</tr>
                        </td>
                        <td>
                            <tr *ngFor="let data of item.candidate_name">{{ data }}</tr>
                        </td>
                        <td >
                            <tr *ngFor="let data of item.candidate_email">{{ data }}</tr>
                        </td>
                        <td >
                            <tr *ngFor="let data of item.candidate_phone">{{ data }}</tr>
                        </td>
                        <td class="text-center">
                            <tr *ngFor="let data of item.candidate_name;let i=index">
                                <span> {{roundTitle}} </span>
                                <span class="text-success">
                                    {{selectStatus}}
                                </span>
                                <span class="text-danger">
                                    <i class="fa-solid fa-plus" type="button" (click)="openFeedbackForm()"></i>
                                </span>
                                <span class="text-primary">
                                    <i class="fa-solid fa-eye" type="button" (click)="viewFeedback()"></i>
                                </span>
                            </tr>
                        </td> -->
                    </tr>
                    </tbody>
                </table>
            </div>
          </div>
        </div>
      </div>

    <!-- {{panelData | json}} -->
    <div
        class="modal dark"
        id="panelModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Feedback</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
    
            <div class="modal-body">
              <form #panelForm="ngForm" (ngSubmit)="postFeedbackData(panelForm.value)">
                  <div>
                    <div class="form-group row">
                      <div class="col-sm-3 col-form-label">
                        <label for="status" >Status: </label>
                      </div>
                      <div class="col-sm-9">
                        <select class="form-select form-select-lg" id="status" name="status" ngModel>
                          <option disabled>Choose From dropdown</option>
                          <option>{{settingsFile.selected}}</option>
                          <option>{{settingsFile.not_selected}}</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group row description-data">
                        <label class="col-sm-3 col-form-label" for="feedback">Description:</label>
                        <div class="col-sm-9">
                          <textarea class="form-control" id="feedback" name="feedback" rows="3" ngModel></textarea>
                        </div>
                    </div>
                    
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Close
                      </button>
                      <button type="submit" class="btn btn-success action-link-refresh" [disabled]="panelForm.invalid" (click)="savePanelFeedback()" data-bs-dismiss="modal">
                        Save changes
                      </button>
                    </div>
                  </div>
                </form>
            </div>
            
          </div>
        </div>
    </div>

    <div
        class="modal dark"
        id="viewFeedbackModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Feedback</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
    
            <div class="modal-body">
              <form>
                  <div>
                    <div class="row">
                        <div class="col-sm-3">Feedback: </div>
                        <div class="col-sm-9 ">{{feedbackData}}</div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Close
                      </button>
                    </div>
                  </div>
                </form>
            </div>
            
          </div>
        </div>
    </div>
    {{panelData | json}}
</div>