<app-header></app-header>
<app-side-bar></app-side-bar>
<div class="container-fluid drive-info">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/drive-management">Drive Management</a></li>
        <li class="breadcrumb-item"><a routerLink="/hiring-drive-info">Hiring Drive Info</a></li>
      </ol>
    <div class="switch-drive">
        <label for="Drive">Switch Drive:</label>
        <select id="role" class="mx-2" name="drive" #drives ngModel (change)="getSpecificDrive(drives.value)">
            <!-- <option disabled></option> -->
            <option placeholder="Select Drive" *ngFor="let obj of hiringDrives">{{obj.title}}</option>
        </select>
    </div>
    
    <div class="container-fluid">
        <div class="row">
          <div class="col" *ngFor="let drive of specificDrive">
            <div class="container entity-heading">
                <h3 class="text-center">{{drive.entity}}</h3>
            </div>
          </div>
          <div class="col card description" *ngFor="let drive of specificDrive">
            <div class="card-header">
                Description
            </div>
            <div class="card-body">
                <p class="card-text">{{drive.description}}</p>
            </div>
          </div>
        </div>
    </div>

    <div class="container-fluid my-5" *ngFor="let drive of specificDrive">
        <!-- {{drive | json}} -->
        <div>
            <table class="table table-bordered table-striped table-hover display">
                <thead>
                <tr>
                    <th>Contact Name</th>
                    <th>Contact Phone Number</th>
                    <th>Contact Email</th>
                </tr>
                </thead>
                <tbody>
                <tr class="view" *ngFor="let item of specificEntityData">
                    <td >
                        <tr *ngFor="let details of item.contactDetails;let i=index"> {{details['contact'+i].contactName}}</tr>
                    </td>
                    <td><tr *ngFor="let details of item.contactDetails;let i=index">{{details['contact'+i].contactPhone}}</tr></td> 
                    <td><tr *ngFor="let details of item.contactDetails;let i=index">{{details['contact'+i].contactEmail}}</tr></td> 
                </tr>
                
                </tbody>
            </table>
        </div>
    </div>

    <div class="container-fluid d-inline-flex p2">
        <table class="table table-bordered table-striped table-hover display" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
            <thead>
            <tr>
                <th>Event Title</th>
                <th>Date</th>
                <th>Start Time</th>
                <th>Edit</th>
            </tr>
            </thead>
            <tbody *ngFor="let drive of specificDrive">
            <tr *ngFor="let item of drive.round;let i=index">
            
                <td>
                    <tr >{{item['round' + i].roundName}} </tr>
                </td>
                <td>
                    <tr >{{item['round' + i].roundDate}} </tr>
                </td>
                <td>
                    <tr >{{item['round' + i].roundTime}} </tr>
                </td>
                <td class="text-center text-danger">
                    <svg type="button" 
                    routerLink="/hiring-drive"
                    xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                      <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                      <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg>
                  </td>

            </tr>
            </tbody>
        </table>
    </div>
        
</div>
