.drive-info{
    width: 80%;
    margin-left: 230px;
}

.description{
    width: 50%;
    float: right;
    margin-right: -23%;
    margin-top: 5%;
    margin-bottom: 3%;
}

.switch-drive{
    /* float:right; */
    /* margin-right: 1%; */
    margin-left: 2%;
}

.entity-heading{
    margin-top: 50px;
}