<app-header></app-header>
<app-side-bar></app-side-bar>
<div class="container-fluid drive-info">

    <label for="Drive">Switch Drive</label> 
    <select id="role" name="drive" #drives ngModel (change)="getSpecificDrive(drives.value)">
        <option></option>
          <option placeholder="Select Drive" *ngFor="let obj of hiringDrives">{{obj.title}}</option>
    </select>
    <!-- <p>{{specificDrive | json}}</p> -->

    <div class="container-fluid view-drive">
        <table class="table table-bordered table-striped table-hover display" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
            <thead>
            <tr>
                <th>Drive Title</th>
                <th>Entity Name</th>
                <th>Coordinator</th>
                <th>Hiring Date</th>
                <th>Hiring Round Date</th>
                <th>Hiring Round Time</th>
                <th>Hiring Round Name</th>
                <th>Hiring Description</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let drive of specificDrive">
                <td>{{ drive.title }}</td>
                <td>{{ drive.entity }}</td>
                <td>{{ drive.coordinator }}</td>
                <td>{{ drive.hiring_date }}</td>
                <td>{{ drive.round_date }}</td>
                <td>{{ drive.round_time }}</td>
                <td>{{ drive.round_name }}</td>
                <td>{{ drive.description }}</td>
            </tr>
            </tbody>
        </table>
    </div>
        
</div>
