<div class="container" *ngIf="user">
    <div class="row">
        <div class="auth-box justify-content-center align-items-center" >
            <div class="container title">
                <h3>Hiring Drive Management Tool</h3>
            </div>
            
            <div class="header text-center">
                <img src="https://www.watchguard.com/sites/default/files/images/branding/watchguard-logo_0.svg" class="wg-logo">
                <h2>Welcome</h2>
                <h4>Log in to your account using email and password</h4>
            </div>

            <div class="form">
                <input type="email" name="email" placeholder="Email Address" [(ngModel)]="user.email" autocomplete="off">
                <input [type]="user.showPassword ? 'text':'password'" placeholder="Password" [(ngModel)]="user.password" >

                <div  class="showPassword">
                    <input type="checkbox" [checked]="user.showPassword" (change)="user.showPassword = !user.showPassword"> <strong> Show Password</strong>
                </div>

                <button (click)="signInWithCognito()" type="submit" class="btn btn-primary">LOGIN</button>
            </div>
        </div>
    </div>
</div>