<div class="container" *ngIf="user">
    <div class="row">
        <div class="auth-box justify-content-center align-items-center" >
            <div class="header">
                <h2>Welcome Back</h2>
                <h4>Log in to your account using email and password</h4>
            </div>

            <div class="form">
                <img src="https://www.watchguard.com/sites/default/files/images/branding/watchguard-logo_0.svg">
                <input type="email" name="email" placeholder="Email Address" [(ngModel)]="user.email" autocomplete="off">
                <input [type]="user.showPassword ? 'text':'password'" placeholder="Password" [(ngModel)]="user.password" >

                <div style="font-size: 12px ; margin: top 6px">
                    <input type="checkbox" [checked]="user.showPassword" (change)="user.showPassword = !user.showPassword">Show Password
                </div>

                <button (click)="signInWithCognito()">LOGIN</button>
            </div>
        </div>
    </div>
</div>