label {
    width:180px;
    clear:left;
    text-align: right;
    padding-right: 20px;
}

input{
    margin-bottom: 10px;
}

.entity-div{
    width: 80%;
    margin-left: 230px;
}

.contact_details{
    margin-top: 20px;
}

.add_remove{
    margin-top: 10px;
}


.input-short{
    width: 30%;
}

.delete-icon{
    width: 50%;
}

.bread{
    margin-left: -1%;
}

.entity-button{
    margin-left: -2%;
    margin-bottom: 2%;
}

.heading{
    margin-top: -2%;
}

.input-disabled {
    background-color: #eee;
}