<app-header></app-header>
<app-side-bar></app-side-bar>
<div class="container-fluid entity-div">
  <div class="container">
    <div class="container d-inline-flex p-2">
      <div class="row mt-4 mb-2 text-center">
        <div class="col">
          <button
            type="button"
            (click)="openEntityFormModal()"
            class="btn btn-danger"
          >
            Add Entity
          </button>
        </div>
      </div>
    </div>

    <div
      class="modal dark"
      id="entityModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Create Entity</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>

          <div class="modal-body">
            <form
              #entityForm="ngForm"
              (ngSubmit)="getEntityData(entityForm.value)"
            >
              <label for="entityname">Entity Name:</label>
              <input
                type="text"
                id="entityname"
                name="entity_name"
                placeholder="Enter Entity Name"
                ngModel
              /><br />

              <div>
                <label for="entity_type">Choose Entity Type:</label>
                <select id="entity_type" name="entity_type" ngModel>
                  <option>University</option>
                  <option>College</option>
                </select>
              </div>

              <label for="entityplace">Entity Place:</label>
              <input
                type="text"
                id="entityplace"
                name="entity_place"
                placeholder="Enter Entity Place"
                ngModel
              /><br />
              <h4 for="EntityContact">Contact Person:</h4>
              
              <div class="border border-dark p-4">
                <div *ngFor="let obj of contactPersons; let i = index">
                  <span
                    ><input
                      class="input-short"
                      type="text"
                      id="coordinator"
                      name="coordinator_name{{i}}"
                      placeholder="Name"
                      [(ngModel)]="obj.contactName"
                  /></span>

                  <span class="space"
                    ><input
                      class="input-short"
                      type="email"
                      placeholder="Email"
                      name="coordinator_email{{i}}"
                      id="email"
                      required
                      [(ngModel)]="obj.contactEmail"
                  /></span>

                  <span class="space"
                    ><input
                      class="input-short"
                      type="tel"
                      id="fnum"
                      placeholder="Number"
                      name="coordinator_contact{{i}}"
                      [(ngModel)]="obj.contactPhone"
                  /></span>
                  <span
                    class="glyphicon glyphicon-trash space"
                    (click)="removeContact(i)"
                    *ngIf="checkIndex(i)"
                    ></span
                  >
                </div>
              </div>
              <div class="add_remove">
                <span class="btn btn-danger " (click)="addContact()"
                  >Add contact +</span
                >
              </div>

              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <button
                  type="submit"
                  class="btn btn-success"
                  (click)="saveEntity()"
                >
                  Save changes
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div
      class="modal dark"
      id="editEntityModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Entity</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>

          <div class="modal-body">
            <form
            #editEntityForm="ngForm"
            (ngSubmit)="updateEntityData(editEntityForm.value)"
            >
              <label for="entityname">Entity Name:</label>
              <input
                type="text"
                id="entityname"
                name="entity_name"
                value="{{entityName}}"
                [disabled]="true"
                ngModel
              /><br />

              <div>
                <label for="entity_type">Choose Entity Type:</label>
                <select id="entity_type" name="entity_type" ngModel>
                  <option>University</option>
                  <option>College</option>
                </select>
              </div>

              <label for="entityplace">Entity Place:</label>
              <input
                type="text"
                id="entityplace"
                name="entity_place"
                value="{{entityPlace}}"
                [disabled]="true"
                ngModel
              /><br />
              <h4 for="EntityContact">Contact Person:</h4>
              
              <div class="border border-dark p-4">
                <div *ngFor="let obj of contactPersons; let i = index">
                  <span
                    ><input
                      class="input-short"
                      type="text"
                      id="coordinator"
                      name="coordinator_name{{i}}"
                      placeholder="Name"
                      [(ngModel)]="obj.contactName"
                  /></span>

                  <span class="space"
                    ><input
                      class="input-short"
                      type="email"
                      placeholder="Email"
                      name="coordinator_email{{i}}"
                      id="email"
                      required
                      [(ngModel)]="obj.contactEmail"
                  /></span>

                  <span class="space"
                    ><input
                      class="input-short"
                      type="tel"
                      id="fnum"
                      placeholder="Number"
                      name="coordinator_contact{{i}}"
                      [(ngModel)]="obj.contactPhone"
                  /></span>
                  <span
                    class="glyphicon glyphicon-trash space"
                    (click)="removeContact(i)"
                    *ngIf="checkIndex(i)"
                    ></span
                  >
                </div>
              </div>
              <div class="add_remove">
                <span class="btn btn-danger " (click)="addContact()"
                  >Add contact +</span
                >
              </div>

              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <button
                  type="submit"
                  class="btn btn-success"
                  (click)="saveEditedEntity()"
                >
                  Apply changes
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
  <table
    class="table table-bordered table-striped table-hover display"
    datatable
    [dtOptions]="dtOptions"
    [dtTrigger]="dtTrigger"
  >
    <thead>
      <tr>
        <th>Entity Name</th>
        <th>Entity Type</th>
        <th>Entity Place</th>
        <th>Edit Form</th>
      </tr>
    </thead>
    <tbody>
      <tr class="view" *ngFor="let entity of EntityData">
        <td>
          {{ entity.entity_name }}
        </td>
        <td>{{ entity.entity_type }}</td>
        <td>{{ entity.entity_place }}</td>
        <td>
          <button
            type="button"
            (click)="openEditEntityFormModal(); replicateData(entity)"
            class="btn btn-outline-danger border-danger container"
          >
            Edit
          </button>
        </td>
      </tr>
    </tbody>
    <tbody *ngIf="EntityData?.length == 0">
      <tr>
        <td colspan="3" class="no-data-available">No data!</td>
      </tr>
    </tbody>
  </table>
</div>
