<nav class="navbar navbar-expand-lg  px-2 d-flex p-2" >
    <!-- <div class="side-nav-button p-2 me-3 text-light">
        <a class="btn btn-dark" data-bs-toggle="offcanvas" href="#" role="button"><i class="button fa fa-bars"></i></a>
    </div> -->
    
    <img src="https://www.watchguard.com/sites/default/files/images/branding/watchguard-logo_0.svg" alt="wg-logo" class="img-fluid" width="130">
    
    <div class="navbar-collapse">
        <ul class="nav navbar-nav navbar-right ">
            <li><a routerLink="/home" routerLinkActive="active active-content" [routerLinkActiveOptions]="{exact:true}" (click)="onSelect('dashboard')" class="text-dark" *ngIf="userRole=='admin'">DashBoard</a></li>
            <li><a routerLink="/drive-management" routerLinkActive="active active-content" [routerLinkActiveOptions]="{exact:true}" (click)="onSelect('drive-management')" class="text-dark">Drive Management</a></li>
        </ul>
       
    </div>

    <div class="profile-logo dropstart mx-4">
            <span><i class="fa-solid fa-user"></i>                               {{username}} |</span>
            <span><a role="button" class="text-danger" (click)="signOutWithCognito()">
                Logout
            </a>
            </span>
            
    </div>

</nav>
