/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
}

html, body{
    background-color: white;
    font-family: Ubuntu;
}

.container{
    width: 100%; 
    padding-right: 24px;
    padding-left: 24px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 24px;    
}

@media (min-width: 500px) {
    .container{
        max-width: 500px;
    }
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -12px;
    margin-left: -12px;
}

.w-100{
    width: 100%;
}

.vh-100{
    height: 100%;
}

.justify-content-center{
    justify-content: center;
}

.align-items-center{
    align-items: center;
}

.header h4 {
    margin-top: 10px;
    font-weight: normal;
    font-size: 14px;
    color: rgba(0,0,0,.4);
}

.form {
    display: flex;
    flex-direction: column;
}

.form p{
    text-align: right;
}

.form p a{
    color: #000;
    font-size: 14px;
}

.form>input{
    height: 46px;
    padding: 0 16px;
    border: 2px solid #ddd;
    border-radius: 2px;
    outline: 0;
    margin-top: 20px;
}

.form>input:focus{
    border-color: red;
}

.form button{
    padding: 12px 10px;
    border: 0;
    background-color: red;
    border-radius: 3px;
    margin-top: 10px;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
}

.auth-box{
    background-color: white;
    padding: 48px 56px;
    border: 2px solid red;
    box-shadow: rgba(17, 12, 46, 0.15)0px 48px 100px 0px;
}

